{% load staticfiles %}
<!DOCTYPE html>
<html lang="en">
<link rel="stylesheet" href="{% static 'css/index.css' %}">    
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Index</title>
</head>
<body>

    <!--Top Navbar-->
    <div class="top_nav">
        
    </div>

    <!--Bottom Navbar-->
    <div class="bottom_nav">
        <div class="logo">
          <img src="https://upload.wikimedia.org/wikipedia/commons/thumb/c/c9/Intel-logo.svg/2000px-Intel-logo.svg.png" alt="" width="130"/>
          </div>
        <nav>
          <ul>
          <li><a href="#">Home</a></li>
          <li><a href="#news">News</a></li>
          <li><a href="#about">About</a></li>
          </ul>
          </nav>
        </div>
        <hr />

     <!--Post-->
    {% for post in post %}
    {% block content %}
    <div class="post_container">
        <ul><h3>{{post.title}}</h3></ul>
        <img src="{{post.image.url}}" alt="{{post.title}}" width="50%">
        <p>{{post.text}}</p>
    </div>
    {% endblock %} 
    {% endfor %}

    <!--Footer-->
    <div class="footer">

    </div>

</body>
</html>