{% load staticfiles %}
<!DOCTYPE html>
<html lang="en">
<link rel="stylesheet" href="{% static 'css/index.css' %}">    
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Home</title>
</head>
<body>

    <!--Top Navbar-->
    <div class="top_nav">
      <div class="social">
        <a target="_blank" href="https://www.facebook.com/lu.castro.969300"><img src="img/facebook.png" alt="facebook"></a> <!--Los link no abren en otra pagina-->
        <a target="_blank" href="https://www.linkedin.com/in/luc%C3%ADa-castro-1686a31b7/"><img src="img/linkedin.png" alt="linkedin"></a> <!--No aparecen los iconos-->
        <a target="_blank" href="https://www.instagram.com/lu_castro_3/?hl=es"><img src="img/instagram.png" alt="instagram"></a> 
      </div>  
    </div>

    <!--Bottom Navbar-->
    <div class="bottom_nav">
      <nav>
        <ul>
          <li><a href="{% url 'index' %}">Home</a></li> <!--no estan conectados con los otros html-->
          <li><a href="{% url 'about' %}">About</a></li>
          <li><a href="{% url 'news' %}">News</a></li>
          </ul>
      </nav>
    </div>

    {% for post in post %}
    {% block content %}
    <!--Post-->
    <div class="post_container">
        <ul><h3>{{post.title}}</h3></ul>
        <img src="{{post.image.url}}" alt="{{post.title}}" width="50%">
        <p>{{post.text}}</p>
    </div>
    {% endblock %} 
    {% endfor %}

    <!--Footer-->
    <footer class="footer"></footer> <!--No aparece como footer-->

</body>
</html>