/*Body*/
*{transition:all 0.5s ease-in-out;}
*{text-decoration: none;}

body{
    margin: 0;
     padding: 0;
     font-family: sans-serif;
}


/*Top Navbar*/
.top_nav{
    background-color: rgb(129, 182, 129);
    padding: 30px;
}                                                                  

.social{
  width:48px;
  position:fixed;
  top:50px;
  right:0;
  top:50%;
	height:205px;
}

                                       /*no funcionan los colores */
/*Bottom Navbar*/
.bottom_nav{
  clear:both;
  overflow:auto;
  background-color: #222;
  color: white;
}

nav{float:right;}

ul li{
  display: inline-block; padding:20px; margin-left: 40px;
  font-size:20px; 
}


/*Post*/
*{box-sizing:border-box;}

.post_container{
    margin: 60px;
    width: 125%;
    position: relative;
    border:3px solid #524444;
}


/*Footer*/
.footer{
    background-color: #222;
    color: white;
    padding: 35px;
}